body{
    background-image: url(../images/background.jpg);
    color: antiquewhite;
}
information{
    background-image: url(../images/124033018-brown-wood-texture-light-wooden-abstract-background.jpg);
}
